body{
    background-color: white;
}

input{
    border: none;
    border-radius: 4px;
    height: 20px;
}

/* main-contrainer */
.main-contrainer{
    background-color:#9152f8;
    width: 900px;
    height: 539px;
    margin: 50px 150px ;
    border: 2px solid #9152f8;
    padding: 0px 40px 0px;
    border-radius: 7px;
}
h1{
    /* background-color: aquamarine; */
    margin-left: 250px;
}
.row-1{
    /* background-color: rgb(212, 190, 233); */
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 18px;
    width: 900px;
    gap: 5px;
}
.required{
    color: red;
}
.row-2{
    /* background-color: tomato; */
    margin-top: 30px;
    font-size: 19px;
    font-weight: bold;
}
/* Full Name input box  */
#fullName{
    width: 760px;
}
/* thrid row */
.row-3{
    margin-top: 30px;
    display: flex;
    gap: 300px;

}
/* fourth row */
.row-4{
    margin-top: 30px;
    display: flex;
    gap: 240px;
}
/* fiveth row */
.row-5{
    margin-top: 10px;
    display: flex;
    gap: 210px;

}
#para1{
    color: red;
}
/* button div */
.button-div{
    margin: 50px  400px;
}
button{
    padding: 11px 25px;
    background-color: beige;
    border: none;
    border-radius: 5px;
}